.maps {
  height: 500px;
  margin-bottom: 10px;
}

.logs {
  height: 500px;
  overflow: auto;
  margin-bottom: 10px;
}

body {
  margin: 10px;
}

.newMarker {
  margin: 10px 0;
}

.active {
  background-color: green;
  color: white;
}

.full-width input.position {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}

.full-width {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
}